/*code css pour le block de la page html*/
.blockpage{
    width: 1500px;
    margin: auto;
}
/*code css pour le header */
header{
    border: 1px solid black;
    min-height: 250px;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 25px 0 0 0;
}
ul.onglets{
    display: flex;
    list-style: none;
    padding: 0 200px 0px 0px ;

}
a{  
    text-decoration: none;
}
ul.filtres{
    list-style: none;
    display: flex;
    padding:  4px 1100px 0 0 ;
    justify-content: space-around;
    justify-content: space-between;
}

section.HébergementàMarseille{
    border: 1px solid violet;
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
}
h2{
    margin-left: 35px;
}
h4{
    margin-left: 35px;
}
article{
    width: 60%;
    background-color: rgba(128, 128, 128, 0.123);
    border-radius: 30px;

}
p.pop{
    display: flex;
    flex-wrap: wrap;
}
.photo1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: space-around;
    margin-top: -20px;
}

.photo2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
aside{
    min-height: 200px;
    width: 30%;
    background-color: rgba(128, 128, 128, 0.123);
    border-radius: 30px;
}
section.Activités{
    border: 1px solid yellow;
    max-height: 1500px;
}
.photo3{
    display: flex;
    justify-content: space-around;
    margin-top: -20px;
}
footer{
    border: 1px solid brown;
    min-height: 10px;
    display: flex;
    align-items: stretch;
    background-color: rgba(128, 128, 128, 0.123);
}
